<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Página Web</title>
  <style>
    /* Estilos para el footer */
    footer {
      background-color: #333;
      color: white;
      padding: 20px 0;
      text-align: center;
      
    }
  </style>
</head>
<body>
  
 
</body>
<footer >
    <p>&copy; 2023 Mi proyecto. Todos los derechos reservados.</p>
  </footer>
</html>
