<%-include ('partials/head')%>
<body>
  <%-include ('partials/navbar')%>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Crear</h5>

      <div class="card-body">
        <form method="post">
          <div class="mb-3">
            <label for="foto" class="form-label">Foto</label>
            <input type="text" class="form-control" id="foto" />
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" />
          </div>
          <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%-include ('partials/footer')%>
