<%-include ('partials/head')%>
<body>
  <%-include ('partials/navbar')%>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Crear nuevo posts</h5>
    </div>
  </div>

  <a class="btn btn-primary" href="./newpost" role="button">Crear</a>
</body>
<%-include ('partials/footer')%>